@font-face{
    font-family: dis;
     src: url(../includes/tipografia/Beautiful\ People\ Personal\ Use.ttf)
}
body{
    background-image:url(../includes/imagenes/auto.jpg) ;
    width: 100%;
    height: 650px;
    background-size: 100% 120%;
}

button{
    background-color: #145683;
    border-color: blue;
    border-radius: 10px;
}

.container{
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
   border-radius: 20px;
}

h1{
    font-family: dis;   
    color:blue; 
}

.letra{
    color: #eaecee;
}
.col-md-13{
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 100%;
}
p{
    color: #01c4e7;
    font-size: 25px;
}
a{
    color: #eaecee;
}

#codigo_p{
border-radius: 10px;
border-color: blue;
}

#nombre_p{
    border-radius: 10px;
    border-color: blue;
}

#tamaño_p{
 border-radius: 10px;
 border-color: blue;   
}

#marca_p{
 border-radius: 10px; 
 border-color: blue;  
}

#valor_p{
 border-radius: 10px;
 border-color: blue;   
}

#calidad_p{
 border-radius: 10px; 
 border-color: blue;  
}