@font-face{
    font-family: dis;
     src: url(../includes/tipografia/Beautiful\ People\ Personal\ Use.ttf)
}
body{
   margin: 0%;
   padding: 0%;
   background-color: black;
}

.header{
    background-color: #145683;
    text-align: center;
h1{
    padding-top: 2%;
    font-family: dis;   
    color:#A0DFF8;
}
}
.menu{
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border: 2px #145683 solid;

    a{
        text-decoration: none;
        margin-left: 2%;
        background-color: #145683;
    }
}
.introduccion{
    border-radius: 0% 0% 20% 10%;
    margin-top: 5%;
    display: flex;
    .intro{
        width: 40%;
        align-self: center;
        padding-left: 1%;
    }
    .imagen{
        width: 60%;
        img{
            image-rendering: auto;
            width: 100%;
            /* border-bottom-right-radius: 10%;
            border-top-left-radius: 60%; */
            border-radius: 45%;
        }
        img:hover{
            transform: scaleX(-1);
        }
    }
}
.parra{
    text-align: center;
    margin: 5%;
}
.col-md-6{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.f{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
input, textarea, select, option{
    border-radius: 10px;
    border-color: blue;
    width: 70%;  
}
button{
    background-color: #145683;
    border-color: #01c4e7;
    border-radius: 10px;
    color: #A0DFF8;
    font-size: 15px ;
    font-weight: bold;
    width: 50%;
    margin-top: 1%;
    justify-content: center;
}
h1, h2, h5{
    text-align: center;
    color: #A0DFF8;
    font-family: dis;
}

.letra{
    color: #eaecee;
}

p{
    color: #01c4e7;
    font-size: 25px;
}
a{
    color: #eaecee;
}
/* img{
    width: 100%;
    height: 15rem;
} */
footer{
    background-color: #145683;
    height: 5rem;
    margin-top: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    ul{
        list-style: none;
    }
    li{
        color: #A0DFF8;
        font-size: large;
        
    }
}

.imagenes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    background-color: black;
    width: 18rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card img{
    width: 80%;
    height: 15rem;
}
.card ul{
    color: #01c4e3;
    font-size: x-large;
}
.card button{
    background-color: #145683;
    border-color: #01c4e7;
    border-radius: 10px;
    color: #A0DFF8;
    font-size: 15px ;
    font-weight: bold;
    width: 100%;
    margin-top: 1%;
}
.row{
    margin-top: 5%;
}

.col-md-8{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
label{
    color: #eaecee;
}

li{
    color: #A0DFF8;
    font-size: large;
    list-style: none;
}
table{
    border: 2px solid #A0DFF8;
}
th{
    color: #A0DFF8;
    width: 10rem;
    border: 2px solid #A0DFF8; 
}